iati-organizations-schema.xsd

<?xml version="1.0" encoding="utf-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xml="http://www.w3.org/XML/1998/namespace">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      International Aid Transparency Initiative: Organization-Information Schema

      Unofficial draft 2010-05-04, by David Megginson

      NOTE: the xml.xsd schema must be in the same directory as this
      one.

      This W3C XML Schema defines a preliminary XML document type for
      information about an aid organization. For more information
      about the International Aid Transparency Initiative (IATI),
      please visit http://www.aidtransparency.net/

      This document type may be extended with additional elements and
      attributes, but they must belong to an explicit XML namespace.
    </xsd:documentation>
  </xsd:annotation>

  <xsd:import namespace="http://www.w3.org/XML/1998/namespace"
              schemaLocation="xml.xsd"/>

  <xsd:element name="iati-organization">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Top-level element for a single IATI organization report.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice minOccurs="1" maxOccurs="unbounded">
        <xsd:element ref="organization-website"/>
        <xsd:element ref="iati-identifier"/>
        <xsd:element ref="name"/>
        <xsd:element ref="total-budget"/>
        <xsd:element ref="recipient-org-budget"/>
      </xsd:choice>
      <xsd:attribute name="last-updated-datetime" type="xsd:dateTime" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            X.XX Last Update Date

            The last date/time that the data for this specific
            organization was updated.  This date must change whenever
            the value of any field changes.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute ref="xml:lang"/>
      <xsd:attribute name="default-currency" type="xsd:string" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Default ISO 4217 currency code for all financial values in
            this organization report.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:anyAttribute processContents="lax" namespace="##other"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="organization-website">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        X.XX Organization web site

        This element provides a link to an organization's top-level
        web site.  The element may be repeated to provide links to the
        site in different languages (using @xml:lang to distinguish).
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:anyURI">
          <xsd:attribute ref="xml:lang" use="optional"/>
          <xsd:anyAttribute processContents="lax" namespace="##other"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="iati-identifier">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        1.0.1 Organization identifier

        This element contains the official IATI identifier for the organization.
        It must appear only once.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:anyAttribute processContents="lax" namespace="##other"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="name">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        1.0.2 Organization name

        The human-readable name of the organization (e.g. "Doctors
        without Borders").  This element may be repeated to provide
        the name in different languages (using @xml:lang to
        distinguish).
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:anyAttribute processContents="lax" namespace="##other"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="total-budget">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        1.8 Annual forward planning budget data for agency

        This element represents the organization's total planning
        budget for a calendar period (typically, but not necessarily,
        a year).  This element may be repeated for each period
        described (normally, periods should be consecutive).
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="period-start" type="dateType">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The starting date for the budget period, in ISO 8601
              format (e.g. 2010-04-01 for 1 April 2010).  This element
              must be present.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="period-end" type="dateType">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The ending date for the budget period, in ISO 8601
              format (e.g. 2011-03-31 for 31 March 2011).  This
              element must be present.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="value" type="currencyType">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The total value of the organization's aid budget for
              this period.  This element is required.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="recipient-org-budget">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        1.10 Annual forward planning budget data for funded institutions.

        This element represents the budget for disbursements to
        another organization (such as an institution funded by a
        national donor).
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="recipient-org" type="refType">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The organization that will receive the funds during the
              budget period (*not* the organization reporting).
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="period-start" type="dateType">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The starting date for the budget period, in ISO 8601
              format (e.g. 2010-04-01 for 1 April 2010).  This element
              must be present.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="period-end" type="dateType">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The ending date for the budget period, in ISO 8601
              format (e.g. 2011-03-31 for 31 March 2011).  This
              element must be present.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="value" type="currencyType">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The total value of the money budgeted to be disbused to
              the specified recipient organization during this time
              period.  This element is required.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>

  <!--
      Common attribute groups and data types used by the elements above.
  -->

  <xsd:attributeGroup name="refAtts">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Attribute group for things that can have identifiers or codes.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="ref" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Machine-readable identification string for the entity being
          described.  The identifier must appear as a URI (relative or
          absolute).
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="type" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Free text describing the type of thing being referenced.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:attributeGroup>

  <xsd:attributeGroup name="textAtts">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Attribute group for elements containing free text content.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ref="xml:lang" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          ISO 639 code for the natural (human) language of the text
          content.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:attributeGroup>

  <xsd:complexType name="textType" mixed="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Data type for an element that may contain human-readable text
        in different languages.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attributeGroup ref="textAtts"/>
    <xsd:anyAttribute processContents="lax" namespace="##other"/>
  </xsd:complexType>

  <xsd:complexType name="refType" mixed="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Data type for an element that refers to an object that can
        have a code or unique identifier, as well as human-readable
        text in different languages.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attributeGroup ref="textAtts"/>
    <xsd:attributeGroup ref="refAtts"/>
    <xsd:anyAttribute processContents="lax" namespace="##other"/>
  </xsd:complexType>

  <xsd:complexType name="currencyType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Data type for an element containing a currency value.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="currency" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              An ISO 639 code for the original currency of the amount.
              This is required for all currency amounts unless the
              iati-activity/@default-currency attribute is specified.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value-date" type="xsd:date" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The date that this value was set (to allow historical
              currency conversion).  The date must be in ISO 8601
              format (YYYY-MM-DD).
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="type" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              Specify the type of funding (e.g. "paid", "in-kind").
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:anyAttribute processContents="lax" namespace="##other"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="dateType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:date">
        <xsd:anyAttribute processContents="lax" namespace="##other"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

</xsd:schema>