iati-activities-schema.xsd

<?xml version="1.0" encoding="utf-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xml="http://www.w3.org/XML/1998/namespace">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      International Aid Transparency Initiative: Activity-Information Schema

      Unofficial draft 2010-04-16, by David Megginson

      NOTE: the xml.xsd schema must be in the same directory as this
      one.

      This W3C XML Schema defines a preliminary XML document type for
      information about one or more aid-related activities.  For more
      information about the International Aid Transparency Initiative
      (IATI), please visit http://www.aidtransparency.net/

      This document type uses URIs for codes and identifiers.  Most
      typically, these will be URLs such as
      "http://aidtransparency.net/orgs/acme".  If an XML file uses a
      relative URI, then the base URI is assumed to be
      "http://aidtransparency.net/", so that "orgs/acme" resolves to
      "http://aidtransparency.net/orgs/acme".
    </xsd:documentation>
  </xsd:annotation>

  <xsd:import namespace="http://www.w3.org/XML/1998/namespace"
              schemaLocation="xml.xsd"/>

  <xsd:element name="iati-activities">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Top-level list of one or more IATI activity records.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="iati-activity" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="version" type="xsd:decimal" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            A number indicating the IATI specification version in use.
            Defaults to "1.0" if not specified.  It is required to
            specify this attribute if the document is using features
            specific to an IATI specification other than the initial
            1.0 version.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="generated-datetime" type="xsd:dateTime" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            A date/time stamp for when this file was generated.  This
            is not necessarily the last-updated date for the
            individual activity records in it.  Uses ISO 8601 date
            format, e.g. "2010-03-12T18:45:00+01:00".  Use of this
            attribute is highly recommended, to allow recipients to
            know when a file has been updated.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="iati-activity">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Top-level element for a single IATI activity report.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice minOccurs="1" maxOccurs="unbounded">
        <xsd:element ref="activity-website"/>
        <xsd:element ref="reporting-org"/>
        <xsd:element ref="participating-org"/>
        <xsd:element ref="recipient-country"/>
        <xsd:element ref="recipient-region"/>
        <xsd:element ref="collaboration-type"/>
        <xsd:element ref="flow-type"/>
        <xsd:element ref="default-aid-type"/>
        <xsd:element ref="finance-type"/>
        <xsd:element ref="iati-identifier"/>
        <xsd:element ref="other-identifier"/>
        <xsd:element ref="title"/>
        <xsd:element ref="description"/>
        <!-- recipient-budget-identifier 3.11 -->
        <xsd:element ref="sector"/>
        <xsd:element ref="activity-date"/>
        <xsd:element ref="activity-status"/>
        <xsd:element ref="contact-info"/>
        <xsd:element ref="target-location"/>
        <xsd:element name="default-tied-status"/>
        <xsd:element name="policy-marker"/>
        <xsd:element ref="total-cost"/>
        <xsd:element ref="budget-planned"/>
        <xsd:element ref="transaction"/>
        <xsd:element ref="related-initiative"/>
        <xsd:element ref="related-activity"/>
      </xsd:choice>
      <xsd:attribute name="last-updated-datetime" type="xsd:dateTime" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            6.03 Last Update Date

            The last date/time that the data for this specific activity
            was updated.  This date must change whenever the value of
            any field changes.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute ref="xml:lang"/>
      <xsd:attribute name="default-currency" type="xsd:string" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Default ISO 4217 currency code for all financial values in
            this activity report.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <!-- 2.12 Activity Website -->

  <xsd:element name="activity-website">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        02.12 Activity Website

        (formerly 02.12 Project Website)

        A link to a web site providing more information about the aid
        activity.  Multiple versions of the link may appear for
        different languages.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:anyURI">
          <xsd:attribute ref="xml:lang" use="optional"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="reporting-org" type="refType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        03.01 Reporting Organization 

        (formerly 03.01 Funding Country/Institution)

        The organization issuing the activity report (typically the
        activity lead).  May be a donor, fund, agency, etc.
        Specifying the @identifier and @role attributes is strongly
        recommended.  May contain the organization name as content.
        If the organization is participating in the project, it should
        also be listed with participating-org.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="participating-org">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        03.02 Participating Organization

        (formerly 03.02 Funding Extending Agency/Organization, 03.03
        Additional Channels of Delivery, and 03.04 Beneficiary
        Agency/Organization)

        An organization (including the reporting organization)
        involved with the activity.  May be a donor, fund, agency,
        etc.  Specifying the @identifier and @role attributes is
        strongly recommended.  May contain the organization name as
        content.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:attributeGroup ref="textAtts"/>
      <xsd:attributeGroup ref="refAtts"/>
      <xsd:attribute name="role" type="xsd:string" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            A code describing the organization's role in the activity
            (donor, agency, etc.).
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="recipient-country">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        03.05 Recipient Country

        A partner country that will benefit from this activity.  This
        element is primarily for administrative and geopolitical
        purposes.  If a specific country is not known, the activity
        report can use the recipient-region element instead. For
        geographical location, use the target-location element.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:attributeGroup ref="textAtts"/>
      <xsd:attribute name="code" use="required">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            ISO 3166-1-alpha-2 code for one of the recipient countries
            for this activity (e.g. "HT" for Haiti).
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="percentage" type="xsd:positiveInteger" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The percentage of the project allocated to this country,
            if known.  Content must be a positive integer between 1
            and 100, with no percentage sign.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="recipient-region">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        03.05.1 Recipient Region

        A geopolitical region (above the country level) that will
        benefit from this activity.  This element is primarily for
        administrative and geopolitical purposes.  If the specific
        country/-ies are known, the activity report can use the
        recipient-country element instead. For geographical location,
        use the target-location element.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:attributeGroup ref="textAtts"/>
      <xsd:attribute name="code" use="required">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The IATI code for the geopolitical region.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="percentage" type="xsd:positiveInteger" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The percentage of the project allocated to this
            geopolitical region, if known.  Content must be a positive
            integer between 1 and 100, with no percentage sign.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="collaboration-type" type="refType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        3.06 Collaboration Type

        (formerly 3.06 Bilateral or Multilateral Type)

        The type of collaboration involved in the project's
        disbursements, e.g. "bilateral" or "multilateral".  The types
        will be defined by IATI.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="flow-type" type="refType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        3.07 Flow Type

        The type of assistance provided, e.g. Official Development
        Assistance (ODA).  Type types will be defined by IATI.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="default-aid-type" type="refType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        03.07.1 Default Type of Aid

        The type of aid being supplied (budget support, pooled funds,
        etc.).  The types will be defined by IATI.  This element
        specifies a default for all the activity's financial
        transactions; it can be overridden at the individual
        transaction level.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="finance-type" type="refType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        03.08 Finance Type

        The type of finance (e.g. debt relief). The types will be
        defined by IATI.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="other-identifier">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        An alternative, non-IATI identifier for the activity.  This
        identifier is not guaranteed to be unique or persistent (it
        depends on the owner organization's policies, not IATI's).
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:attribute name="owner-ref" type="xsd:string" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            An identifier for the owner of this identifier, in URI
            format.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="owner-name" type="xsd:string" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Free text providing a human-readable name for the owner
            of this identifier.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="iati-identifier" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        The single, unique and persistent IATI identifier for this
        activity.  This must always be present in an IATI report.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="title" type="textType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        3.10 Activity Title

        (formerly part of 3.10 Title &amp; Purpose/Description)

        Human-readable title for the activity.  May be repeated in
        different languages, using the xml:lang attribute to
        distinguish.  The title should be a single line of text (more
        detailed information can appear in the description element.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="description">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        3.10.1 Activity Description

        (formerly part of 3.10 Title &amp; Purpose/Description)

        Human-readable description for the activity.  May be repeated
        in different languages, using the xml:lang attribute to
        distinguish.  Different types of descriptions (abstract,
        goals, etc.) may be distinguished using the @type attribute.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:attributeGroup ref="textAtts"/>
      <xsd:attribute name="type" type="xsd:string" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            A simple text string describing the type of description,
            e.g. "output", "summary".  The type is free text rather than
            a formal code.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="sector">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        03.12 General/Detailed Sector

        Sector code and name.  Non-DAC sectors will be in a different
        namespace.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:attributeGroup ref="textAtts"/>
      <xsd:attributeGroup ref="refAtts"/>
      <xsd:attribute name="vocabulary" type="xsd:string" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            An identifier for the vocabulary in use, to segment
            sectors into different vocabularies (e.g. DAC, OCHA) to
            aid with comparison and classification.  If omitted,
            assume DAC.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="percentage" type="xsd:positiveInteger" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The percentage of the project allocated to this sector, if
            known.  Content must be a positive integer between 1 and
            100, with no percentage sign.  Percentages are comparable
            only across sectors in the same vocabulary.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="activity-date">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        03.13 Activity Dates (planned starting date)

        Planned starting date for the activity in ISO 8601 date format,
        e.g. "2010-10-01".
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute name="type" type="xsd:string" use="required">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                The date milestone type (e.g. "start", "end").  IATI
                will define the list of types.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
          <xsd:attributeGroup ref="textAtts"/>
          <xsd:attribute name="iso-date" type="xsd:date" use="optional">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                An activity milestone date in ISO 8601 date format,
                e.g. "2010-12-01".
              </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="activity-status" type="refType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        03.14 Activity Status / Stage

        (formerly 03.14 Project Status / Stage)

        The current status of the project (e.g. "planned"), using a
        list defined by IATI.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="contact-info">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        03.15 Activity Contacts

        (was 03.15 Project contacts)

        Contact information for the project.  Specify whatever is
        available.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="organization">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The organization to contact for more information about the
              activity.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="person-name" type="textType">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The name of the contact person at the organization.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="telephone" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The contact telephone number, if available.  May be
              repeated for multiple numbers.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="email" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The contact email address, if available.  May be
              repeated for multiple addresses.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="mailing-address" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The contact mailing address, if available.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="target-location">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        3.16 Detailed geographic info

        This element allows the reporting organization to specify the
        activity's geographical target location at the sub-national
        level.  Repeat this element for each separate location
        description.  The content is a human-readable description of
        the location (e.g. "Villages in Darfur"), while the various
        attributes allow providing a machine readable version of the
        same location using codes or latitude/longitude.

        For geopolitical information, use recipient-country or
        recipient-region.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:attributeGroup ref="textAtts"/>
      <xsd:attributeGroup ref="refAtts"/>
      <xsd:attribute name="vocabulary" type="xsd:string" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The geocode vocabulary used, if not ISO 3166.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="gis" type="xsd:decimal" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The latitude and longitude of a specific location served
            by the activity, in decimal degrees (where negative is
            south/west), if known.  For example, 45 degrees 15 minutes
            10 seconds south and 120 degrees 15 minutes 10 seconds west
            would be represented as "-45.419444,-120.419444".
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="default-tied-status" type="refType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        3.17 Tied aid status

        Specify whether the aid is untied, tied, or partially tied,
        using a code list created by IATI.  The content is free text
        that can optionally provide more detail.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="policy-marker">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        3.18 Other policy markers

        A policy or theme addressed by the activity.  A text
        description of the theme appears in the content, and a formal
        identifier appears in the @ref attribute.  The @vocabulary
        attribute can also help to segment the markers into separate
        vocabularies.  This element can be repeated for each policy
        marker.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:attributeGroup ref="textAtts"/>
      <xsd:attributeGroup ref="refAtts"/>
      <xsd:attribute name="vocabulary" type="xsd:string" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            An identifier for the vocabulary in use, to segment codes
            into different vocabularies (e.g. Rio, Environment) to aid
            with comparison and classification.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="significance" type="xsd:string" use="required">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The significance of the policy marker for this activity
            (e.g. principal or significant), from a list defined by
            IATI.  If a marker is not significant, the policy-marker
            element will not be present.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="total-cost" type="currencyType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        04.01 Total Activity Cost

        Optional element containing the total budgeted cost of the
        activity over its total lifetime.  Note that this may be
        greater than the total of the commitments, especially if the
        activity is part of an ongoing fundraising appeal.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="budget-planned">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Total planned future project expenditures by time period.
        This element represents a total value of expenditures that are
        not yet committed or disbursed, and do not yet appear as
        transaction elements.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice minOccurs="1" maxOccurs="unbounded">
        <xsd:element name="period-start" type="xsd:date">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The starting date of the accounting period, in ISO 8601
              date format (YYYY-mm-dd).
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="period-end" type="xsd:date">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The ending date of the accounting period, in ISO 8601
              date format (YYYY-mm-dd).
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="value" type="currencyType">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The total amount in this budget item/time.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
      <xsd:attribute name="type" type="xsd:string" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The type of the budget (original, revised, or planned
            disbursement) from a code list defined by IATI.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="period" type="xsd:string" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The accounting budget period (e.g. quarterly, annual) from
            a code list defined by IATI.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="transaction">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        04.03 Total amount committed by individual donor
        04.05 Planned disbursements or payments
        04.06 Actual disbursements or payments
        04.07 Loan repayments
        04.08 Interest repayments

        Committed or actual money flowing in or out of an aid
        activity.  The @flow attribute specifies the direction of flow
        ("incoming" for 4.03) or ("outgoing" for 4.05, 4.06, 4.07, and
        4.08).  The @ref attribute allows uniquely identifying a
        transaction, to match it up with the corresponding in- or
        outflow in a different activity.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
	<xsd:choice maxOccurs="unbounded">
          <xsd:element name="value" type="currencyType">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                The amount of the contribution (or its value, if in
                kind).
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="transaction-type" type="refType">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                The type of the transaction (e.g. commitment,
                disbursement, expenditure, etc.).  The @ref attribute
                contains a code defined by IATI, and the content is an
                optional free-text description of the type.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="status" type="refType">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                The status of the contribution (e.g. committed, paid).
                Assume committed if omitted.  The content is free
                text, and the code goes in the optional @ref
                attribute.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="provider-org">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                The organization providing the money for the
                transaction (if omitted, the provider organization is
                the reporting organization).
              </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType mixed="true">
              <xsd:attributeGroup ref="textAtts"/>
              <xsd:attributeGroup ref="refAtts"/>
              <xsd:attribute name="provider-activity-id" type="xsd:string" use="optional">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                    The internal identifier used by the provider for
                    its activity that provides the funds for this
                    transaction (*not* the IATI activity identifier).
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:attribute>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="receiver-org">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                The organization receiving the money from the
                transaction (if omitted, then the receiver
                organization is the reporting organization).
              </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType mixed="true">
              <xsd:attributeGroup ref="textAtts"/>
              <xsd:attributeGroup ref="refAtts"/>
              <xsd:attribute name="receiver-activity-id" type="xsd:string" use="optional">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                    The internal identifier used by the receiver
                    organization for its activity that receives the
                    funds from this transaction (not to be confused
                    with the IATI identifier for the target activity).
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:attribute>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="provider-activity" type="refType">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                The IATI activity providing funds for this
                transaction.  The element may be specified only if the
                @flow attribute for the parent transaction is
                "incoming" (otherwise, use receiver-activity).  The
                element allows aid funds to be traced from activity to
                activity.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="receiver-activity" type="refType">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                The IATI activity receiving funds from this
                transaction.  The element may be specified only if the
                @flow attribute for the parent transaction is
                "outgoing" (otherwise, use provider-activity).  The
                element allows aid funds to be traced from activity to
                activity.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="description" type="textType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                A free-text description of the transaction.  May be
                repeated in multiple languages, with different values
                for the @xml:lang attribute.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="milestone-date">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                A milestone date for this contribution (such as the
                decision date, disbursement date, etc.).
              </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:date">
                  <xsd:attribute name="type" type="xsd:string" use="required">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="en">
                        The type of milestone (e.g. "commitment",
                        "disbursement").
                      </xsd:documentation>
                    </xsd:annotation>
                  </xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="aid-type" type="refType">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                Optional element to override the top-level
                default-aid-type element (pooled, etc.) on a
                transaction-by-transaction basis if needed.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="tied-status" type="refType">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                Optional element to override the top-level
                default-tied-status element (pooled, etc.) on a
                transaction-by-transaction basis if needed.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
        <xsd:attributeGroup ref="refAtts"/>
        <xsd:attribute name="flow" use="required">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The direction of funding flow for the activity (incoming
              or outgoing).  For example, if DFID commits £1M to one
              of its own activities, that funding is incoming to the
              activity (even though it's outgoing from DFID as an
              organization).
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <!-- 4.03 Total Amount(s) committed by individual donor -->
  <!-- 4.06 Actual disbursements or payments -->
  <!-- 4.07 Loan repayments -->
  <!-- 4.08 Interest repayments -->

  <xsd:element name="related-initiative" type="refType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        XX.XX Related Initiative

        An initiative related to this activity.  The initiative will
        not necessarily be an activity per-se, but could be an appeal
        or similar aid-related initiative as well.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="related-activity" type="refType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        XX.XX Related Activity

        Another IATI activity related to this one.  The 'type'
        attribute describes the type of relationship (e.g. parent,
        sibling).  This does not need to be used to express funding
        relationships, since those are covered in individual
        transactions.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <!--
      Common attribute groups and data types used by the elements above.
  -->

  <xsd:attributeGroup name="refAtts">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Attribute group for things that can have identifiers or codes.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="ref" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Machine-readable identification string for the entity being
          described.  The identifier must appear as a URI (relative or
          absolute).
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="type" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Free text describing the type of thing being referenced.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:attributeGroup>

  <xsd:attributeGroup name="textAtts">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Attribute group for elements containing free text content.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ref="xml:lang" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          ISO 639 code for the natural (human) language of the text
          content.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:attributeGroup>

  <xsd:complexType name="textType" mixed="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Data type for an element that may contain human-readable text
        in different languages.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attributeGroup ref="textAtts"/>
  </xsd:complexType>

  <xsd:complexType name="refType" mixed="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Data type for an element that refers to an object that can
        have a code or unique identifier, as well as human-readable
        text in different languages.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attributeGroup ref="textAtts"/>
    <xsd:attributeGroup ref="refAtts"/>
  </xsd:complexType>

  <xsd:complexType name="currencyType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Data type for an element containing a currency value.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="currency" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              An ISO 639 code for the original currency of the amount.
              This is required for all currency amounts unless the
              iati-activity/@default-currency attribute is specified.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value-date" type="xsd:date" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The date that this value was set (to allow historical
              currency conversion).  The date must be in ISO 8601
              format (YYYY-MM-DD).
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="type" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              Specify the type of funding (e.g. "paid", "in-kind").
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

</xsd:schema>
