iati-organisations-schema.xsd

<?xml version="1.0" encoding="utf-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.04">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      International Aid Transparency Initiative: Organisation-Information Schema

      Release 1.04, 2014-05-05

      NOTE: the xml.xsd and iati-common.xsd schemas must be in the
      same directory as this one.

      This W3C XML Schema defines an XML document type for information
      about an aid organisation, following the standard published at
      http://iatistandard.org

      This document type may be extended with additional elements and
      attributes, but they must belong to an explicit XML namespace.
    </xsd:documentation>
  </xsd:annotation>

  <xsd:include schemaLocation="iati-common.xsd"/>

  <xsd:import namespace="http://www.w3.org/XML/1998/namespace"
              schemaLocation="xml.xsd"/>

  <xsd:element name="iati-organisations">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Top-level list of one or more IATI organisation records.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="iati-organisation"/>
        <xsd:any namespace="##other" processContents="lax"/>
      </xsd:choice>
      <xsd:attribute name="version" type="xsd:string" use="required">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            A number indicating the IATI specification version in use.
            This is mandatory and must be a valid version. All
            versions in a single file MUST be the same.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="generated-datetime" type="xsd:dateTime" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            A date/time stamp for when this file was generated. This
            is not necessarily the last-updated date for the
            individual activity records in it. Use of this attribute
            is highly recommended, to allow recipients to know when a
            file has been updated.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:anyAttribute processContents="lax" namespace="##other"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="iati-organisation">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Top-level element for a single IATI organisation report.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice minOccurs="1" maxOccurs="unbounded">
        <xsd:element name="iati-identifier">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The iati-identifier element is used in both Activity
              files and Organisation files, and has a slightly
              different meaning depending on where it is being used,
              and should not be confused. When used in an organisation
              it is a globally unique identifier for that
              organisation. When used in an activity it is a globally
              unique identifier for that activity. This should be in
              the form of the IATI Organisation Identifier (for the
              reporting organisation) concatenated to that
              organisation’s activity identifier. (NB. Two or more
              reporting organisations may publish information on the
              same activity.) All activities in an activity xml file
              must contain the same @ref AND this @ref must be the
              same as the iati-identifier recorded in the registry
              publisher record of the account under which this file is
              published.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element ref="name"/>
        <xsd:element ref="reporting-org"/>
        <xsd:element ref="total-budget"/>
        <xsd:element ref="recipient-org-budget"/>
        <xsd:element ref="recipient-country-budget"/>
        <xsd:element ref="document-link"/>
        <xsd:any namespace="##other" processContents="lax"/>
      </xsd:choice>
      <xsd:attribute name="version" type="xsd:string" use="required">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            A number indicating the IATI specification version in use.
            This is mandatory and must be a valid version. All
            versions in a single file MUST be the same.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="last-updated-datetime" type="xsd:dateTime" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The last date/time that the data for this specific
            organisation was updated.  This date must change whenever
            the value of any field changes.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute ref="xml:lang">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            ISO 639-1 code specifying the default language used in
            narrative elements throughout the activity. If this is not
            declared then the xml:lang attribute MUST be specified for
            each narrative element.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="default-currency" type="xsd:string" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Default ISO 4217 currency code for all financial values in
            this activity report. If this is not declared then the
            currency attribute MUST be specified for all monetary
            values.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:anyAttribute processContents="lax" namespace="##other"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="name">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        The human-readable name of the organisation.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="narrative" />
        <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:choice>
      <xsd:anyAttribute processContents="lax" namespace="##other"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="total-budget">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        The total-budget element allows for the reporting of the organisation’s 
        own budget. The recommendation is that, where and when possible, the 
        organisation’s total annual planned budget for each of the next three 
        years is reported.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="period-start">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The start of the budget period.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="iso-date" type="xsd:date" use="required">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">
                  The start date (yyyy-mm-dd plus [optional] time zone)
                </xsd:documentation>
              </xsd:annotation>
            </xsd:attribute>
            <xsd:anyAttribute processContents="lax" namespace="##other"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="period-end">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The end of the period (which must not be greater than one year)
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="iso-date" type="xsd:date" use="required">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">
                  The end date (yyyy-mm-dd plus [optional] time zone)
                </xsd:documentation>
              </xsd:annotation>
            </xsd:attribute>
            <xsd:anyAttribute processContents="lax" namespace="##other"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="value" type="currencyType">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The total value of the organisation's aid budget for
              this period.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:any namespace="##other" processContents="lax"/>
      </xsd:choice>
      <xsd:anyAttribute processContents="lax" namespace="##other"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="recipient-org-budget">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        This element represents the budget for the core funding of another organisation.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="recipient-org">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The organisation that will receive the funds.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
              <xsd:element ref="narrative">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                    The name of the organisation. This can be repeated in multiple languages.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:choice>
            <xsd:attribute name="ref" use="optional" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">
                  Machine-readable identification string for the
                  organisation. Must be in the format {Registration Agency}
                  - (Registration Number} where {Registration Agency} is a
                  valid code in the Registration Agency code list and
                  {Registration Number } is a valid identifier issued by the
                  {Registration Agency}. If this is not present then the
                  narrative MUST contain the name of the organisation.
                </xsd:documentation>
              </xsd:annotation>
            </xsd:attribute>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="period-start">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The start of the budget period.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="iso-date" type="xsd:date" use="required">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">
                  The start date (yyyy-mm-dd plus [optional] time zone)
                </xsd:documentation>
              </xsd:annotation>
            </xsd:attribute>
            <xsd:anyAttribute processContents="lax" namespace="##other"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="period-end">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The end of the period (which must not be greater than one year)
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="iso-date" type="xsd:date" use="required">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">
                  The end date (yyyy-mm-dd plus [optional] time zone)
                </xsd:documentation>
              </xsd:annotation>
            </xsd:attribute>
            <xsd:anyAttribute processContents="lax" namespace="##other"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="value" type="currencyType">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The total value of the money budgeted to be disbused to
              the specified recipient organisation during this time
              period.  This element is required.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:any namespace="##other" processContents="lax"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="recipient-country-budget">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        The recipient-country-budget element allows for the reporting of 
        forward looking budgets for each country in which the organisation 
        operates. The recommendation is that, where and when possible, the 
        organisation’s total annual planned budget for each of the next 
        three financial years is reported for each recipient country. 
        It is strongly recommended that the start and end of the reported 
        financial years match those of the recipient country’s 
        budgetary/planning cycle.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="recipient-country">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The recipient country.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="code" type="xsd:string"  use="required">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">
                  ISO 3166-1 alpha-2 code for the country.
                </xsd:documentation>
              </xsd:annotation>
            </xsd:attribute>
            <xsd:anyAttribute processContents="lax" namespace="##other"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="period-start">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The start of the budget period.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="iso-date" type="xsd:date" use="required">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">
                  The start date (yyyy-mm-dd plus [optional] time zone)
                </xsd:documentation>
              </xsd:annotation>
            </xsd:attribute>
            <xsd:anyAttribute processContents="lax" namespace="##other"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="period-end">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The end of the period (which must not be greater than one year)
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="iso-date" type="xsd:date" use="required">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">
                  The end date (yyyy-mm-dd plus [optional] time zone)
                </xsd:documentation>
              </xsd:annotation>
            </xsd:attribute>
            <xsd:anyAttribute processContents="lax" namespace="##other"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="value" type="currencyType">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The total value of the money budgeted to be disbused to
              the specified country during this time period.  This
              element is required.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:any namespace="##other" processContents="lax"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="currencyType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Data type for an element containing a currency value.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute ref="currency" use="optional"/>
        <xsd:attribute ref="value-date" use="required"/>
        <xsd:anyAttribute processContents="lax" namespace="##other"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:attribute name="currency" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        A three letter ISO 4217 code for the original currency of the
        amount. This is required for all currency amounts unless
        the iati-organisation/@default-currency attribute is
        specified.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>


</xsd:schema>
